:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  background-color: var(--ig-gray-100);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  overflow: auto;
  position: relative;
  padding: 16px;
}
.single-select-combo {
  height: max-content;
  min-width: min-content;
}
.tree {
  width: 338px;
  min-width: max-content;
  min-height: max-content;
  max-width: 338px;
  flex-shrink: 0;
}
.tree .igx-tree-node__toggle-button {
  display:none;
}

.grid {
  --ig-size: var(--ig-size-medium);
  min-width: 600px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
